html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font: inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

html, body {
	background: #60646D; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

.clear {clear: both;}


.top {
	width: 90%;
	max-width: 1200px;
	background: #f3f3f3;
	margin: 0 auto;
}

#banner {	
	max-width: 100%;
	height: auto;	
}

#banner img {
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px;
	max-width: 1200px;
	margin: 0 auto;
}

#topMenu {
	font-size: 90%;
}

#topMenu ul {
	list-style-type: none;
	margin: 0;		
  	text-align: center;
  	background: #3D8EB9;
  	padding: 1em 0.5em;
  	font-size: 1.4em;
}

#topMenu ul li {
	display: inline;
}

#topMenu ul li a:link, #topMenu a:visited {
	padding: 1em 3em;
	color: #ffffff;	
  	text-decoration: none;
}

#topMenu a:hover {
	color: #ffffff;
	background: #711515;
}

#leftMenu
{
	width: 230px;
	float: left;	
}

#leftMenu ul
{
	list-style: none;	
	margin: 0;
	padding: 0;
	padding-top: 1em;
}

#leftMenu li
{
	border-bottom: 1px solid #ED9F9F;
}

#leftMenu li a:link, #leftMenu li a:visited {
	font-size: 90%;
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	border-left: 12px solid #EBBD63;
	border-right: 1px solid #EBBD63;
	background-color: #3D8EB9;
	color: #FFFFFF;
	text-decoration: none;
}

#leftMenu li a:hover {
	background-color: #F29B34;
	color: #FFFFFF;
}

#member1 img
{
	border-radius: 50%;
}

#member2 img
{
	border-radius: 50%;
}

#content
{
	width: 1200px;
	height: 700px;	
	margin: 0 auto;	
}

h1
{
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}
.member {
	margin-top: 15px;
	background-color: #E9EAED;
	width: 965px;
	float: right;
	margin-top: 
}

.member ul
{
	margin-top: 40px;
	margin-left: 5px;
	float: right;
}

.member ul li
{
	font-size: 1em;
}

img
{
	background-repeat: no-repeat;
	margin: 0 5px 5px 5px;
}

.member a img
{
	float: left;
}

.member .cmember1
{
	float: left;
}

.member .cmember2
{
	float: right;
}

.member a img 
{
	width: 180px;
	height: 180px;
}



#mem_img {
	display: inline;	
}

#mem_img a {
	text-decoration: none;
}

#mem_img img {
	width: 20px;
	height: 20px;
}

.cmember1
{
	margin-left: 5px;
	margin-top: 5px;
	width: 450px;
	overflow: auto;
}
.cmember2
{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 450px;
	overflow: auto;
}


#footer {
	width: 1200px;	
	margin: 0;
	padding: 0;
}

#footer p {
	text-align: center;
	font-size: 1.1em;
	line-height: 2em;
}